.featured-properties-section{
        padding-top: 110px;
        background-color: black;
        padding-bottom: 110px;
        @media screen and (max-width:1650px) {
            padding-top: 90px;
            padding-bottom: 90px;
        }
        @media screen and (max-width:1385px) {
            padding-top: 61px;
         }
        .featured{
            .header-featured{
                .star-container{
                    margin-bottom: 10px;
                    @media screen and (max-width:1650px) {
                        margin-bottom: 6px;
                    }
                    @media screen and (max-width:1385px) {
                        margin-bottom: 6px;
                     }
                }
                .content-header{
                    margin-bottom: 80px;
                    @media screen and (max-width:1650px) {
                        margin-bottom: 60px;
                    }
                    @media screen and (max-width:1385px) {
                        margin-bottom: 40px;
                     }
                    .left{
                        h1{
                            color: var(--Absolute-White, #FFF);
                            font-size: 48px;
                            font-weight: 600;
                            line-height: 150%; /* 72px */
                            margin-bottom: 14px;
                            @media screen and (max-width:1650px) {
                                font-size: 38px;
                            }
                            @media screen and (max-width:1385px) {
                                font-size: 28px;
                             }
                        }
                    }
                    .right{
                        display: flex;
                        justify-content: space-between;
                        p{
                                color: var(--Grey-60, #999);
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 150%; /* 27px */
                                width: 1200px;
                                @media screen and (max-width:1650px) {
                                    font-size: 16px;
                                    width: 975px;
                            }
                            @media screen and (max-width:1385px) {
                                font-size: 14px;
                             }
                        }
                    }
                }
            }
            .featured-cards{
                padding-bottom: 50px;
                display: flex;
                column-gap: 30px;
                border-bottom: 1px solid var(--Grey-15, #262626);
                @media screen and (max-width:1650px) {
                    padding-bottom: 40px;
                    column-gap: 20px;
                }
                .card1{
                    padding: 40px;
                    border-radius: 12px;
                    border: 1px solid var(--Grey-15, #262626);
                    background: var(--Grey-08, #141414);
                    width: 512px;
                    @media screen and (max-width:1650px) {
                        padding: 30px;
                        width: 413px;
                    }
                    @media screen and (max-width:1385px) {
                        padding: 24px;
                        width: 100%;
                     }
                    .header-card{
                        margin-bottom: 30px;
                        @media screen and (max-width:1650px) {
                            margin-bottom: 20px;
                        }
                        img{
                            @media screen and (max-width:1650px) {
                                width: 353px;
                                object-fit: cover;
                            }
                            @media screen and (max-width:1385px) {
                               width: 310px;
                               object-fit: cover;
                             }
                        }
                    }
                    .body-card{
                        h5{
                            color: var(--Absolute-White, #FFF);
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 150%; /* 36px */
                            margin-bottom: 6px;
                            @media screen and (max-width:1650px) {
                                font-size: 20px;
                            }
                            @media screen and (max-width:1385px) {
                                font-size: 18px;
                             }
                        }
                        span{
                            color: var(--Grey-60, #999);
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 150%;
                            @media screen and (max-width:1650px) {
                                font-size: 16px;
                            }
                            @media screen and (max-width:1385px) {
                                font-size: 14px;
                             }
                            a{
                                color: var(--Absolute-White, #FFF);
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 150%;
                                text-decoration-line: underline;
                                @media screen and (max-width:1650px) {
                                    font-size: 16px;
                                }
                                @media screen and (max-width:1385px) {
                                    font-size: 14px;
                                 }
                            }
                        }
                        .details{
                            @media screen and (max-width:1385px) {
                                display: grid;
                                grid-template-columns:1fr 1fr;
                                grid-template-rows: 1fr 1fr;
                             }
                            margin-top: 30px;
                            display: flex;
                            column-gap: 10px;
                            margin-bottom: 30px;
                            @media screen and (max-width:1650px) {
                                margin-top: 24px;
                                margin-bottom: 24px;
                                column-gap: 6px;
                            }
                            .propertie1{
                                padding: 8px 14px;
                                @include flexbox;
                                column-gap: 4px;
                                border-radius: 28px;
                                border: 1px solid var(--Grey-15, #262626);
                                background: var(--Grey-10, #1A1A1A);
                                @media screen and (max-width:1650px) {
                                    padding: 6px 14px;
                                }
                                @media screen and (max-width:1385px) {
                                    width: fit-content;
                                 }
                                p{
                                    color: var(--Absolute-White, #FFF);
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 150%; /* 27px */
                                    @media screen and (max-width:1650px) {
                                        font-size: 13px;
                                    }
                                    @media screen and (max-width:1385px) {
                                        font-size: 14px;
                                     }
                                }
                            }
                            .propertie2{
                                @media screen and (max-width:1385px) {
                                    transform: translateX(-25px);
                                 }
                            }
                            .propertie3{
                                @media screen and (max-width:1385px) {
                                    margin-top: 10px;
                                 }
                            }
                        }
                        .price{
                            display: flex;
                            column-gap: 40px;
                            @media screen and (max-width:1650px) {
                                column-gap: 30px;
                            }
                            @media screen and (max-width:1385px) {
                                 column-gap: 20px;
                            }
                            
                            .left{
                                p{
                                    margin-bottom: 2px;
                                    color: var(--Grey-60, #999);
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 150%; /* 27px */
                                    @media screen and (max-width:1650px) {
                                        font-size: 14px;
                                    }
                                    @media screen and (max-width:1385px) {
                                        font-size: 14px;
                                   }
                                   
                                }
                                span{
                                    color: var(--Absolute-White, #FFF);
                                    font-size: 24px;
                                    font-weight: 600;
                                    line-height: 150%; /* 36px */
                                    @media screen and (max-width:1650px) {
                                        font-size: 20px;
                                    }
                                    @media screen and (max-width:1385px) {
                                        font-size: 18px;
                                   }
                                }
                            }
                            .right{
                                .about-villa-btn{
                                    padding: 18px 54.5px;
                                    color: var(--Absolute-White, #FFF);
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 150%; /* 27px */
                                    border-radius: 10px;
                                    background: var(--Purple-60, #703BF7);
                                    border: none;
                                    @media screen and (max-width:1650px) {
                                        font-size: 14px;
                                        padding: 14px 47.67px;
                                    }
                                    @media screen and (max-width:1385px) {
                                        padding: 16px 47.67px;
                                        font-size: 12px;
                                   }
                                }
                            }
                        }
                    }
                }
                .card2{
                    @media screen and (max-width:1385px) {
                       display: none;
                    }
                }
                .card3{
                    @media screen and (max-width:1385px) {
                       display: none;
                    }
                }
            }
            .turn-pages{
                margin-top: 20px;
                @include flexbox;
                justify-content: space-between;
                @media screen and (max-width:1650px) {
                    margin-top: 16px;
                }
                .left{
                    .properties-btn{
                        padding: 14px 20px;
                        color: var(--Absolute-White, #FFF);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 150%; /* 27px */
                        border-radius: 10px;
                        background: var(--Grey-10, #1A1A1A);
                        border: none;
                        display: none;
                        @media screen and (max-width:1385px) {
                            display: initial;
                         }
                    }
                    p{
                        color: var(--Grey-60, #999);
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 150%;
                        @media screen and (max-width:1650px) {
                            font-size: 16px;
                        }
                        @media screen and (max-width:1385px) {
                            display: none;
                        }
                    }
                }
                .right{
                    .turning{
                        color: var(--Grey-60, #999);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 150%;
                        display: none;
                        @media screen and (max-width:1385px) {
                            display: initial;
                        }
                    }
                    @include flexbox;
                        column-gap: 10px;
                    .arrow-left{
                        padding: 14px;
                        border-radius: 50%;
                        border: 1px solid var(--Grey-15, #262626);
                        @media screen and (max-width:1650px) {
                            padding: 10px;
                        }
                    }
                    .arrow-right{
                        transform: rotate(180deg);
                        padding: 14px;
                        border-radius: 50%;
                        border: 1px solid var(--Grey-15, #262626);
                        @media screen and (max-width:1650px) {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
