#home-page{    
    .contact-btn{
        padding: 16px 24px;
        color: var(--Absolute-White, #FFF);
        font-size: 18px;
        font-weight: 500;
        line-height: 150%; /* 27px */
        border-radius: 10px;
        border: 1px solid var(--Grey-15, #262626);
        background: var(--Grey-08, #141414);
        cursor: pointer;
        transition: .2s;
        @media screen and (max-width:1650px) {
            padding: 14px 20px;
            font-size: 14px;
        } 
        @media screen and (max-width:1385px) {
            display: none;
        } 
        &:hover{
            transform: translateY(2px);
            background-color: #703BF7;
        }
    }
    .burger-btn{
        display: none;
        @media screen and (max-width:1650px) {
            display: none;
        } 
        @media screen and (max-width:1385px) {
            display: initial;
            background-color: transparent;
            border: none;
        } 
    }
    .discover-section{
        .left-side{
            .learn-more-btn{
                padding: 18px 24px;
                margin-right: 20px;
                color: var(--Absolute-White, #FFF);
                font-size: 18px;
                font-weight: 500;
                line-height: 150%; /* 27px */
                border-radius: 10px;
                border: 1px solid var(--Grey-15, #262626);
                background-color: transparent;
                cursor: pointer;
                transition: .2s;
                margin-bottom: 50px;
                @media screen and (max-width:1650px) {
                   font-size: 14px;
                   padding: 14px 20px;
                } 
                @media screen and (max-width:1385px) {
                   width: 350px;
                } 
                &:hover{
                    transform: translateY(2px);
                }
            }
            .browse-properties-btn{
                padding: 18px 24px;
                color: var(--Absolute-White, #FFF);
                font-size: 18px;
                font-weight: 500;
                line-height: 150%; /* 27px */
                border-radius: 10px;
                background: var(--Purple-60, #703BF7);
                border: none;
                cursor: pointer;
                transition: .2s;
                margin-bottom: 50px;
                @media screen and (max-width:1650px) {
                    font-size: 14px;
                    padding: 14px 20px;
                 } 
                 @media screen and (max-width:1385px) {
                    width: 350px;
                    transform: translateY(-30px);
                 } 
                &:hover{
                    transform: translateY(2px);
                }
            }
        }
    }
    .featured-properties-section{
        .featured{
            .header-featured{
                .content-header{
                    .right{
                        .properties-btn{
                            padding: 18px 24px;
                            color: var(--Absolute-White, #FFF);
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 150%; /* 27px */
                            border-radius: 10px;
                            background: var(--Grey-10, #1A1A1A);
                            border: none;
                        }
                    }
                }
            }
        }
    }
}